streamlit

# LangChain
langchain
langchain-core
langchain-community

# Gemini
langchain-google-genai
google-generativeai

# Mistral
langchain-mistralai
mistralai

# Embeddings / Hugging Face
langchain-huggingface
sentence-transformers

# Vector database
chromadb
langchain-chroma

# Environment variables
python-dotenv

# PDF processing
pypdf

# Other document/web processing
python-docx
beautifulsoup4

# Numerical
numpy
